# In deploy version , i use new Publishable and secret API keys supabase , not Legacy anon, service_role API keys
# if you can't use new api key , you can still use legacy anon key but when checking user exist or not , you have to check with session auth like getUser()  
NEXT_PUBLIC_SUPABASE_URL=supabse_public_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=supabase_publishable_or_anon_key 
SUPABASE_SECRECT_KEY=supabase_secrect_key